body {background-color: red;}

.dance-party{
    text-align: center;
    width: 100px;
    height: 50px;
    margin: 65 700;
    display: block;
    border-style:none;
}
.headers{
    text-align: center;
}