body {background-color: red;
}


.dance-party{
    display: flex;
    flex-direction: column;
    width:75%;
    margin-left: 15%;
    align-items: center;
    justify-content: space-around;
}

.headers{
    text-align: center;
}